@model Property

@{
    ViewBag.Title = "Create Property";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<form class="row g-3" asp-controller="Property" asp-action="CreateOne" method="post">
    <div class="col-md-6">
        <label for="Address" class="form-label">Address</label>
        <input type="text" class="form-control" id="Address" asp-for="Address">
        <span asp-validation-for="Address" class="errMsg"></span>
    </div>
    <div class="col-md-6">
        <label for="Price" class="form-label">Price</label>
        <input type="text" class="form-control" id="Price" asp-for="Price">
        <span asp-validation-for="Price" class="errMsg"></span>
    </div>

    <div class="col-6">
        <label for="Location" class="form-label">Location</label>
        <input type="text" class="form-control" id="Location" asp-for="Location">
        <span asp-validation-for="Location" class="errMsg"></span>
    </div>
    <div class="col-md-6">
        <label for="Status" class="form-label">Status</label>
        <select id="Status" class="form-select" asp-for="Status" asp-items="Html.GetEnumSelectList<EnumStatus>()">
            <option value="" selected>Choose...</option>
        </select>
        <span asp-validation-for="Status" class="errMsg"></span>
    </div>
    <div class="col-md-6">
        <label for="Category_id" class="form-label">Category_id</label>
        <select id="Category_id" class="form-select" asp-for="Category_id">
            <option selected>Choose...</option>
            <option value="1">Single House</option>
            <option value="5">Apartment</option>
            <option value="3">Condo</option>
            <option value="6">Cottagge</option>
        </select>
    </div>
    <div class="col-md-6">
        <label for="Owner_id" class="form-label">Owner_id</label>
        <select id="Owner_id" class="form-select" asp-for="Owner_id">
            <option selected>Choose...</option>
            <option value="1">Alex</option>
            <option value="2">Bob</option>
            <option value="3">Celina</option>
        </select>
    </div>

    <div class="col-md-12">
        <label for="Description" class="form-label">Description</label>
        <input type="text" class="form-control" id="Description" asp-for="Description">
        <span asp-validation-for="Description" class="errMsg"></span>
    </div>
 
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>